.list {
  list-style: none;
  padding-left: 0;
  display: flex;

  &__item {
    border: 1px solid #000;
    border-right: none;
    border-radius: 0;
  
    &:last-child {
      border-right: 1px solid #000;
    }
  }
}

.tab-button {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #fff;
  border: none;

  &:disabled {
    cursor: unset;
  }
}
