.tabs {
  width: fit-content;
  margin: auto;

  &__item {
    width: 6em;
    height: 3em;
    border: 1px solid black;
    background-color: white;
    margin:-1px 0 0 -1px;

    &--selected {
      border-bottom: none;
      transform: scaleY(1.05);
      transform-origin: bottom center;
    }
  }

  &__content {
    margin-left: -1px;
    padding: 1em;
    border: 1px solid black;
    border-top: none;
  }
}
