.button {
  position: relative;
  font-size: 16px;
  padding: 10px 15px;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    border: 1px solid #eee;
    border-radius: 5px;
    border-bottom: none;
    color: #0000ff;
  }
}

.tabs {
  background-color: #fff;

  &__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    list-style: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border: 1px solid #eee;
    }
  }

  &__item {
    &-button {
      color: #4b4bff;
      border: 1px solid transparent;
    }

    &-button--active {
      color: #000;
      border: 1px solid #eee;
      border-radius: 5px;

      &::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        border: 1px solid #fff;
        z-index: 1;
      }
    }
  }
}
