.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;

  &--selected {
    background:#fffffff6;
    color:#000;
    border-top: 3px solid #000;
  }
}
