.tabs__list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.tabs__item {
  background-color: white;
  border: 1px solid #000;
  cursor: pointer;
  transition: background-color linear 200ms;
  border-radius: 10%;
  font-size: 18px;
}

.active {
  background-color: rgb(136, 136, 136);
}

.tabs__item:hover {
  background-color: rgb(199, 197, 197);
}
