.tabs-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    padding: 3px;
    border-bottom: 1px solid gold;

    &--selected {
      border: 1px solid gold;
      border-bottom-color: white;
    }
  }

  &__link {
    text-decoration: none;
    color: black;
    font-size: 26px;
  }
}
