.tab__btn {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background-color: lightblue;
  border: 1px solid #7a5187;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
}

.tab__btn--active {
  border-bottom: none;
}

.tab__content {
  text-align: center;
  font-size: 18px;
  color: #7a5187;
}
