.Tabs {
  width: 500px;
}

.tabs__tab {
  height: 35px;
  width: 75px;
  background-color: wheat;
  outline: none;
  cursor: pointer;
}

.tabs__tab--selected {
  background-color: black;
  color: white;
}

.tab-content {
  border: 1px solid black;
  padding: 10px;
  height: 100px;
  background-color: beige;
  box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}
