.tabs__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 80px;
  text-align: center;
  color: blue;
  border: none;
  background-color: white;
}

.tabs__link--active {
  color: black;
}

.tabs__link:hover {
  cursor: pointer;
  border: 1px solid gray;
}
