.tab__item:not(:last-child) {
  margin-right: 25px;
}

.tab__item {
  list-style: none;
}

.tab__item a {
  display: block;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.tab__item .blue {
  color: rgb(0, 0, 255);
  border-color: rgb(207, 195, 195);
  border-bottom: 1px solid rgb(255, 255, 255);
}
