.container {
  display: inline-block;
}

.button {
  border: 1px solid black;
  border-radius: 3px;
  width: 60px;
  margin-right: 10px;
  transition: 0.3s;

  &:hover {
    background-color: #e9e5e3;
  }

  &:active {
    background-color: #a3bab4;
  }
}

.text {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  padding: 15px;
}
