@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  font-family: Lato;
}

.tabs {
  display: flex;
}

.tab {
  &__btn {
    width: 100px;
    height: 30px;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;

    &--pressed {
      border-color: #bbb;
      border-radius: 5px 5px 0 0;
      background-color: rgba(blue, 0.2);
    }
  }

  &__content {
    border: 1px solid #bbb;
    padding: 15px;
  }
}
