.tabs {
  background-color: bisque;
  border: 1px solid salmon;

  &__content {
    padding: 6px 12px;
    border: 1px solid black;
    border-top: none;
    margin: 0;
  }

  &__btn {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;

    &--active {
      background-color: darken($color: bisque, $amount: 10%);
    }
  }
}
