.tabs__item {
  position: relative;
  margin-right: -2px;
  padding: 5px 20px;
  font-size: 1.2em;
  background-color: #fff;
  border: 2px solid #333;
  cursor: pointer;
  outline: none;
}

.tabs__item:hover {
  z-index: 1;
  background-color: #dde;
  border-color: #33e;
}
