.button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  background-color: lightblue;
  border-radius: 20px;
  margin-right: 5px;
  outline: 0;
  border: 0;

}

.button:focus {
  background-color: darkgray;

}
