.Tab__item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
}

.Tab__button {
  outline: none;
  border: 2px solid transparent;
  border-bottom: 0;
  padding: 10px 20px;
  background-color: #fff;
  margin-bottom: -1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Tab__button_active {
  border: 2px solid red;
  border-bottom: 2px solid white;
}
