.app__control {
  margin-left: 20px;
  border-bottom: 1px solid red;
}

.btn {
  border: 2px solid white;
  margin-right: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.active {
  border-bottom-color: red;
}
