.tab {
  padding: 5px 20px;
  margin-bottom: -1px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 20px;

  &:hover {
    border: 1px solid silver;
    padding: 4px 19px 6px;
  }

  &--is-active {
    background-color: white;
    border: 1px solid silver;
    border-bottom: 1px solid white;

    &:hover {
      border-bottom: 1px solid white;
      padding: 5px 20px;
    }
  }
}
