.tabs__element {

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tabs__element--active {
  border: 1px solid grey;
  border-bottom: none;
  height: 27px;
}

.tabs__element--active::after {
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  position: relative;
  bottom: -2px;
}

.tabs__button {
  border: none;
  color: blue;
  margin: 0;
  padding: 5px;
  background-color: inherit;
  outline: none;
}
