.button {
  width: 50px;
  margin-right: 10px;
  box-shadow: none;
  color: lightskyblue;
  border: none;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button--active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 10px;
  border: 1px solid #eee;
  border-bottom: 2px solid #fff;
  outline: none;
  color: gray;
}
