.tabs {
  margin: 15px;
}

.tab-button {
  margin: 10px;
  padding: 10px;
  background-color: lightskyblue;
  color: darkblue;
}

.tab-content {
  margin: 10px;
  color: darkcyan;
  font-size: 20px;
}
