
// Variables

// Colors
$color: (
  white: #fff,
  grey: #828282,
  dark-grey: #333,
  beige: #e4dfd3,
  dark-green: #344f10
);

// Screen sizes
$xxxl: 1660px;
$xxl: 1410px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 350px;
