* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #2c3e50;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.tab-content {
  margin-top: 20px;
  max-width: 300px;
  min-height: 100px;
}
