@import "bulma/bulma.sass";

*,
:before,
:after {
  box-sizing: border-box;
}

.App {
  margin: 50px;
}

.active {
  border-bottom: 2px solid rgb(64, 83, 247);
}

.tabs__wrapper {

  &:after {
    position: absolute;
    top: 88px;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(233, 230, 230);
    margin-right: 100px;
  }
}

.content {
  margin-top: 50px;
}

.tab {

  &__button {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border-style: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: rgb(248, 245, 245);
    }
  }
}
