.tab {
  margin: 0 10px;
}

.tab__button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-bottom: none;
  margin-bottom: 0;
  padding: 5px;
  font-size: 15px;
}

.tab__button__active {
  background-color: grey;
}

.tab__horizontal__line {
  margin: 0;
  height: 1px;
  background-color: black;
  border-color: black;
}

.tab__text {
  margin: 5px 15px;
}
