.tabs {
  margin: 30px auto;
  width: 800px;

  &__buttons {
    margin-right: 20px;
    width: 100px;
    height: 30px;
    background-color: rgb(214, 153, 238);
    border: 2px solid rgb(53, 11, 77);
    color: white;
    font-weight: 800;
    cursor: pointer;

    &:hover {
      background-color: rgb(53, 11, 77);
    }
  }

  &__active {
    font-family: cursive;
    padding: 40px;
    background-color: rgb(244, 226, 255);
    color: rgb(53, 11, 77);
  }
}
