html {
  background-image: url(./background.jpg);
  background-size: cover;
}

h1 {
  font-family: "Orbitron", sans-serif;
}

body {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.App {
  width: 450px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  background: lightblue;
  border: 1px solid black;
  border-radius: 25px;
}
