button {
  margin: 5px;
  border: none;
  outline: none;
}

.tab {
  font-size: 24px;
  color: #a5a89a;
  font-family: Arial, Helvetica, sans-serif;

  background-color: #18191d;
  border-radius: 5px;
}

.selected {
  border: 1px solid #18191d;
  color: #babcb3;
  background-color: red;
}
