li {
  list-style: none;
}

.content {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 20px auto;
}

.title {
  padding-top: 20px;
  text-align: center;
}
