.tabs {
  margin: 50px auto;
  width: 600px;
}

.tabs__row {
  display: flex;
  justify-content: space-between;
}

.tabs__button,
.tabs__enabled-button {
  font-size: 20px;
  cursor: pointer;
  background-color: #6fa9bb;
  border: none;
  padding: 10px;
}

.tabs__enabled-button {
  background-color: #efb27b;
}

.tabs__content {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
