* {
  box-sizing: border-box;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  color: #363636;
}

.buttom {
  height: 40px;
  padding: 10px;

  color: #1d72aa;
  font-weight: 700;
  font-size: 16px;

  border: 1px solid transparent;
  background-color: #fff;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

.active {
  color: #363636;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.buttom:focus {
  outline: none;

}

.buttom:hover {
  color: #363636;
}

.text {
  min-height: 100px;
  margin: 0;
  padding-right: 10px;
  line-height: 100px;

  font-size: 18px;
  font-weight: 700;
  border-top: 1px solid #aaa;
}
